.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    gap: 24px;
}


@media screen and (max-width: 1920px) {
    .wrapper {
        margin: 0 14px;
    }
    
}